* {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    margin: 10px;
}

nav {
    background-color: rgb(66,66,66);
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 10px;
    color: rgb(238, 238, 238);
}

.particular {
    background-color: rgb(238,238,238);
    color: rgb(66,66,66);
    border: rgb(66,66,66) 1px solid;
}

.carousel {
    height: 300px;
    background-color: rgb(238,238,238);
}

.fellows h2 {
    text-align: center;
    color: rgb(66,66,66);
    font-size: 30px;
    margin: 40px;
}

.fellows h2 span {
    font-size: 14px;
}

.articles-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

article {
    height: 300px;
    width: 32%;
    background-color: rgb(238,238,238);
}

form {
    border-top: 1px black solid;
}

input, textarea {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

textarea {
    height: 100px;
}